.activity{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
}

.activity_info{
    margin-left: 10px;
    width: 75%;
}

.profile_picture_lg{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    padding: 3px;
    background: linear-gradient(90deg, coral, purple);
    border-color: inherit;
}

.profile_picture_img_lg{
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: 2px solid;
    border-color: inherit; 
}